body {
    margin-top: 75px;
}

.post-content, .page-content, .main-content {
    margin-bottom: 20px;
}

.fa-rss {
    background-color: #F4B83F;
    color: #fff;
}

footer {
    margin: 10px 0;
}

.btn-youtube{color:#fff;background-color:#ff0000;border-color:rgba(0,0,0,0.2)}.btn-youtube:hover,.btn-youtube:focus,.btn-youtube:active,.btn-youtube.active,.open .dropdown-toggle.btn-youtube{color:#fff;background-color:#e50000;border-color:rgba(0,0,0,0.2)}
.btn-youtube:active,.btn-youtube.active,.open .dropdown-toggle.btn-youtube{background-image:none}
.btn-youtube.disabled,.btn-youtube[disabled],fieldset[disabled] .btn-youtube,.btn-youtube.disabled:hover,.btn-youtube[disabled]:hover,fieldset[disabled] .btn-youtube:hover,.btn-youtube.disabled:focus,.btn-youtube[disabled]:focus,fieldset[disabled] .btn-youtube:focus,.btn-youtube.disabled:active,.btn-youtube[disabled]:active,fieldset[disabled] .btn-youtube:active,.btn-youtube.disabled.active,.btn-youtube[disabled].active,fieldset[disabled] .btn-youtube.active{background-color:#ff0000;border-color:rgba(0,0,0,0.2)}
